@media  screen and (max-width:1000px){

header{
    width: 100%;
    height: auto;
    margin-bottom: 1%;
}

.menu-hamburguesa {
    position: relative;
        top: 0;
        right: 0;
        width: 100%;
        padding: 1em;
        text-align: end;
        height: auto;
  }
  
  .menu-icon {
    display: inline-block;
    cursor: pointer;
  }
  
  .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: orange;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .menu {
    display: none;
  }
  
  .menu-hamburguesa input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .menu-hamburguesa input[type="checkbox"] {
    display: none;
  }
  
  .menu li {
    margin-bottom: 2px;
    margin-top: 2%;
    width: 100%;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
    width: 100%;
  }
  
  .menu a:hover {
    color: orange;
  }


.logo img{
    width: 100%;
    height: auto;
}

/*servicios-index-----------------------------------------------------------------------------------------*/
.servicios-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.servicios-index .texto{
    width: 100%;
}

.servicios-index .articles-index{
    width: 100%;
}

.proceso-index .article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
   }

   .planes-index-article{
    display: flex;
    align-items: normal;
   }

   
   footer .footer1{
    flex-wrap: wrap;
   }

   footer .footer1 article {
    width: 40%;
    padding: 2%;
}
}
   

@media  screen and (max-width:700px){
    /*emo-index*/

.emo-index{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emo-index article{
    width: 70%;
}

.emo-index article img{
    width: 100%;
    height: auto;
    
}

/*-------------------------------------------------------------------------------------------------------*/

.nosotros-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros-index .fotos{
    width: 100%;
    height: auto;
}

.planes-index-article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .planes-index-article article{
    width: 70%;
    height: auto;
    margin: 2%;
    padding: 3%;
   }

   .nosotros-index .texto .articles-images{
    flex-direction: column;
   }

   .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .contacto div{
    width: 70%;
    height: auto;
   }

   footer .footer1{
    flex-direction: column;
   }

   footer .footer1 article {
    width: 100%;
    padding: 2%;
}

.nosotros-articles{
    flex-direction: column;
    align-items: center;
}

.nosotros-articles article{
    width:50%;
    height: auto;
}

.equipo-nosotros{
    flex-direction: column-reverse;
    align-items: center;
}

.equipo-nosotros .texto, .foto{
    width: 90%;
    height: auto;
}

.limp-servicios{
    flex-direction: column;
    align-items: center;
}

.limp-servicios article{
    width: 50%;
}

.redes{
    flex-direction: column;
    align-items: center;
}

.redes article{
    width: 60%;
}

.limpieza-contacto{
    text-align: center;
}

.limpieza-contacto .limpieza-div{
    flex-direction: column;
    align-items: center;
}

.limpieza-contacto .limpieza-div iframe{
    width: 100%;
}

.limpieza-div div{
    width: 90%;
    height: auto;
}

.limpieza-contacto .limpieza-div div{
    width: 90%;
    height: auto;
    text-align: justify;

}

.nosotros-index .texto{
    width: 100%;
}

}

